* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'digital';
  src: url('DSDIGI_ctlean.ttf') format('truetype');
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(to right, #e9dfc4 0%, #e9dfc4 1%, #ede3c8 2%, #ede3c8 24%, #ebddc3 25%, #e9dfc4 48%, #ebddc3 49%, #e6d8bd 52%, #e6d8bd 53%, #e9dbc0 54%, #e6d8bd 55%, #e6d8bd 56%, #e9dbc0 57%, #e6d8bd 58%, #e6d8bd 73%, #e9dbc0 74%, #e9dbc0 98%, #ebddc3 100%);
  background-size: 120px;
  background-repeat: repeat;
  min-height: 700px;
  text-align: center;
}

#app {
  color: #2c3e50;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  position: relative;
  text-align: center;
}

form {
  height: 100%;
  position: absolute;
  width: 100%;
}

.calculator {
  background: #E7E5E4;
  border-radius: 8px;
  bottom: 0;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4), 1px 5px 2px 0 rgba(0, 0, 0, 0.3), inset 0 2px 10px rgba(0, 0, 0, 0.1), inset 1px 1px 1px 2px rgba(255,255,255,.7);
  display: inline-block;
  height: 33.875rem;
  left: 0;
  margin: auto;
  padding: .2rem .5rem .5rem;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 17.457rem;
}

button {
  background: #ddd;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 1px 4px 2px 1px rgba(0,0,0,0.2), inset 0 0 10px rgba(0, 0, 0, 0.2), inset 1px 1px 1px 2px rgba(255,255,255,.7);
  margin: .5rem .35rem;
  padding: .7rem;
  position: relative;
  text-align: center;
}

button:active, .keydown {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 1), inset 0 0 10px rgba(0, 0, 0, 0.2), inset 1px 1px 1px 2px rgba(255,255,255,.5);
}

.calculator button {
  width: 3.2rem;
}

.display {
  border: 3px inset #fff;
  border-radius: 8px;
  display: inline-block;
  margin: 1rem .35rem .5rem;
  position: relative;
}

.input, .input:disabled {
  background: #c8caaf;
  border: 2px solid #404226;
  border-radius: 5px;
  color: #000;
  font-family: 'digital';
  font-size: 2.5rem;
  opacity: 1;
  padding: 0 .5rem;
  pointer-events: none;
  text-align: right;
  width: 15.3rem;
}
.copied {
  animation-name: copied;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  color: darkgreen;
  font-family: "Avenir";
  left: 6px;
  position: absolute;
  top: 3px;
}
@keyframes copied {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.complete {
  margin: 1rem .5rem 0;
}
.complete .input {
  font-size: 1rem;
}

div {
  position: relative;
}

button:focus {
  box-shadow: 0 0 10px aqua;
  outline: none;
}

.equal {
  background-image: linear-gradient(to top, #f64747, hsl(13,85%,71%) );
  color: #FEFCF7;
  bottom: -4rem;
  top: 0;
  margin: .5rem .65rem;
  position: absolute;
  z-index: 10;
}

.equal:active, .equal.keydown {
  background-image: linear-gradient(to bottom, #f64747, #f9bf98 );
}

.number, .other {
  background-image: linear-gradient(to top, hsl(42, 2%, 85%), hsl(42, 2%, 98%));
  color: hsl(25, 5%, 35%);
}

.number:active, .number.keydown,
.other:active, .other.keydown {
  background-image: linear-gradient(to bottom, hsl(42,2%,90%), hsl(42,2%,100%) );
}

.operation {
  background-image: linear-gradient(to top, #2574a9, #00afe5 );
  color: #FEFCF7;
}

.operation:active, .operation.keydown {
  background-image: linear-gradient(to bottom, #006db2, #add8e6 );
}

.memory {
  background-image: linear-gradient(to top, hsl(40,8%,25%), hsl(40,8%,50%) );
  color: #FEFCF7;
  font-size: 1rem;
}

.memory:active, .memory.keydown {
  background-image: linear-gradient(to bottom, hsl(40,0%,10%), hsl(40,0%,40%) );
}

#help:active, #help.shortcuts {
  background-image: linear-gradient(to bottom, lightblue, aqua);
}
button.zero {
  width: 7.35rem;
}

button.big {
  width: 7.4rem;
}
.hide {
  display: none;
}
.history {
  background: #f1f1f1;
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: 'Source Code Pro', monospace;
  height: 100%;
  overflow: auto;
  padding: 2rem;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 11;
}
.history table {
  counter-reset: equation; 
  border-collapse: separate;
  border-spacing: 0 3px;
  margin: 0 0 2rem;
}
.history td { background: lightblue; }
.history td:nth-of-type(1),
.history td:nth-of-type(2) {
  text-align: right;
}
.history td:nth-of-type(1) {
  background: skyblue;
}
.history .count:before {
  content: '🗑️' counter(equation);
  counter-increment: equation;
  cursor: pointer;
  display: inline-block;
  margin: .5rem 0;
  padding: .7rem 5px;
  text-align: right;
}
.history-container {
  bottom: 0;
  box-shadow: 0 2px 40px #000;
  height: 80%;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 90%;
  z-index: 10;
}
.history-container:after {
  background: rgba(255,255,255, .7);
  bottom: 0;
  content: '';
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.close-button {
  background-image: linear-gradient(to top, #2574a9, #00afe5 );
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  height: 2rem;
  line-height: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 2rem;
  z-index: 11;
}
.clear-button {
  background-image: linear-gradient(to top, #2574a9, #00afe5 );
  bottom: 10px;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  right: 10px;
  width: auto;
  z-index: 11;
}
.shortcuts:before {
  background: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 0 2px aqua, 0 0 10px #777, 1px 4px 2px 0 #777;
  color: #333;
  content: attr(data-shortcut);
  display: inline-block;
  font-size: .8rem;
  left: -5px;
  line-height: 1.2;
  padding: 0 3px;
  position: absolute;
  top: -5px;
  white-space: nowrap;
}
@media all and (max-width: 600px) {
  html { font-size: 14px; }
}